.App{
    width: 100%;
}
header{
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}
header img{
 max-width: 200px;;
}
h1{
    font-size: 24px;
    text-align: center;
}
.page-wrapper{
    max-width: 1023px;
    margin: auto;
}
.view-complete{
    background-color: transparent;
    border: none;
    color: #0058AB;
    text-decoration: underline;
    
}
.complete{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2.5rem;
}

