body {
  margin: 0;
  font-family: Noto_Sans, sans-serif;
  color: #0058AB;

}
*{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5{
  font-family: Noto_Sans_Bold;
  /* background-color: #0058AB; */

}
p,label,a,div,span{
  font-size: 14px;
}
code {
  font-family: Noto_Sans, sans-serif;
}
@font-face {
  font-family:Noto_Sans ;
  src: url(./assets/fonts/Noto_Sans/NotoSans-Bold.ttf);
  src: url(./assets/fonts/Noto_Sans/NotoSans-Regular.ttf);
  
}
@font-face {
  font-family:Noto_Sans_Bold;
  src: url(./assets/fonts/Noto_Sans/NotoSans-Bold.ttf);
 
  
}
